:root {
    /* Colors */
    --clr-light: white;
    --clr-dark: black;
    --clr-accent: ;
    --clr-accent2: ;
}
.logo{
  height: 80px;
  width: 200px;
}
html {
  background-image: url(../img/background.jpg);
  background-color: black;
}

body{
  text-align: center;
  background-color: var(--clr-dark);  
  color: var(--clr-light);
  padding: 2rem;
  opacity: 88%;
}
/*  */
.list-group{
  margin-left:75px;
  margin-right:75px;
}

.button-style{
  background-color: var(--clr-dark);
  padding: 1rem 2rem; /* Reduced padding */
  text-align: center;
  font-size: 1.6rem;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: var(--clr-dark);
  color: var(--clr-dark);
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .button-style {
    padding: 0.5rem 1rem;
  }
}

.btn {
  border-radius: 0px;
  outline: none;
  border: none;
}

.btn:active {
  border-style: outset;
  border: none;
}

  /* modal */ 
#modal-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: fixed;
  padding: 20px;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
    
  z-index: 99; 
    
  overflow: auto; 
    
  /* center the modal */
  display: grid;
  text-align: center;
  }
 
.modal {
  color: var(--clr-dark);
} 
 
.modal-close {
  float: right;
  /* -webkit-appearance: none; */
  border: 0;
  background: none;
  color: #777;
  text-decoration: underline;
}
  
.modal h1 {
  margin-top: 0;
}
  
.modal p {
  margin-bottom: 0;
}
  
#modal-container.is-visible {
  display: block;
}

#show-modal {
  display: none;
}

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
