:root {
    font-size: 10px;
    /* Colors */
    --clr-light: ;
    --clr-dark: ;
    --clr-accent: ;
    --clr-accent2: ;
}

html {
    background-image: url(/img/background.jpg);
    background-color: white;
}

body{
    font-size: 2rem;
    text-align: center;
    background-color: black; /* provisional background color */
    color: white; /* provisional font color */
    padding: 2rem;
    opacity: 70%;
}

.button-style{
    background-color: white; /* provisional colors */
    border: none;
    padding: 2rem 3rem;
    text-align: center;
    display: inline-block;
    font-size: 1.6rem;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: black; /* provisional colors */
    width: 40%;
    color: white; /* provisional colors */
    border: 2px solid white; /* provisional colors */
  }